html,
body {
  min-height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
.section {
  height: 600px;  
}
#section-1, #section-3 {
  background-color: #2c3e50;
  position: relative;
  width: 100%;
}
#section-1 .fondo {
  left: 50%;
  top: 50%;
  margin-top: -350px;
  margin-left: -200px;
  position: absolute;
  z-index: 1;
}
#section-1 .uc-container {
  width: 400px;
  height: 300px;
}
#section-1 .uc-initial-content{
  background-color: #39BCA4;
}
#section-1 .uc-front,
#section-1 .uc-back,
#section-1 .uc-single, 
#section-1 .uc-final {
  background-color: #fff;
}
#section-1 .title-box {
  top: 50%;
  margin-top: -194px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
#section-1 .title-box p {
  color: #39BCA4;
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center;
}
#section-1 .ucab {
  color: #39BCA4;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
#section-1 .title {
  color: #39BCA4;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
}
#section-1 .share {
  bottom: 20px;
  right: 20px;
  color: #39BCA4;
  position: absolute;
  width: 300px;
}
#section-1 .share span {
  font-size: 1.4em;
  float: right;
  margin: 0 15px;
}
#section-1 .share span:hover {
  cursor: pointer;
  color: #fff;
}
#section-1 .arrow {
  left: 50%;
  bottom: 20px;
  margin-left: -14px;
  position: absolute;
}
#section-1 .arrow span {
  color: #39BCA4;
  font-size: 2em;
}
#section-1 .arrow span:hover {
  cursor: pointer;
  color: #fff;
}
#section-2 {
  padding: 100px;  
}
#section-2 .title-box {  
  border-right: 3px solid #39BCA4;
  float: left;  
  padding-right: 20px;
  width: 25%;
}
#section-2 .title {
  color: #39BCA4;
  font-size: 2em;
  text-align: right;
  text-transform: uppercase;
}

#section-2 .content {
  float: right;
  width: 70%;
}
#section-2 p {
  color: #666;
  line-height: 1.62em;
  font-size: 1.4em;
  text-align: center;
  margin-top: 0;
}
#section-2 .arrow {
  text-align: center;
  padding-top: 100px;
}
#section-2 .arrow span {
  color: #2c3e50;
  font-size: 2em;
  text-transform: uppercase;
}
#section-2 .arrow span:hover {
  cursor: pointer;
  color: #39BCA4;
}
#section-2 .arrow i {
  margin-left: 15px;  
}
.content-box {
  background: #fff;
  box-sizing: border-box;
  left: 50%;
  margin: 0 0 50px -20%;
  min-height: 400px;
  top: 150px;
  padding: 50px;
  position: absolute;
  width: 600px;
}
.content-box .title {
  color: #009D84;
  font-size: 1.6em;
  text-transform: uppercase;
}
.form {
  text-align: center;
  font-size: 1.2em;
}
.form .group {
  margin-bottom: 15px;
}
.form .group:after {
  content: "";
  display: table;
  clear: both;
}
.form .checkbox-group {
  clear: both;
  margin: 6px 0 30px 15px;
  width: 200px;
}
.form .checkbox-group label {
  margin-top: 10px;
  margin-right: 10px;
  padding: 0;
}
.form .checkbox-group input {
  margin-top: 16px;
  float: right;
}
.form label {
  color: #999;
  float: left;
  font-weight: 400;
  padding-top: 6px;
}
.form input[type=text],
.form input[type=email] {
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  padding: 5px 6px;
  width: 260px;
}
.form input[type=text]:focus,
.form input[type=email]:focus {
  border: 1px solid #009D84;
  outline: none;
}
button,
.submit {
  background-color: #009D84;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 8px 6px;
  width: 274px;
}
button:hover,
.submit:hover {
  background-color: #39BCA4;
  cursor: pointer;
}
.submit:focus {
  outline: none;
}
.separator {
  background-color: #ccc;
  border: 0;
  color: #ccc;
  height: 1px;
  margin-bottom: 20px;
}
.clearfix {
  clear: both;
}
.clearfix.margin {
  margin: 40px 0;   
}
.error {
  margin-top: 8px;
  font-size: 0.8em !important;
  color: #e95d4f;
}